@import "../variables";

#posts-table {
  width: 100%;
  float: left;
  font-family: Arial, sans-serif;
  text-align: left;
  border-collapse: collapse;

  .header-row {
    border-bottom: 1px solid #323232;
    th {
      height: 50px;
      padding: 5px;
    }
  }

  .post-row {
    td {
      height: 50px;
      padding: 0 10px;
    }

    &:hover {
      background: #e9f2f5 !important;
    }

    &:nth-child(even) {
      background: #efefef;
    }

    .summary {
      max-width: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.edit-button {
  display: block;
  width: 60px;
  height: 25px;
  background: #8aa7ff;
  text-align: center;
  line-height: 25px;
  border-radius: 15px;
  color: white;
  text-decoration: none;
  text-transform: lowercase;
}

#create-post {
  display: block;
  width: 120px;
  height: 35px;
  line-height: 35px;
  background: #5875c0;
  text-align: center;
  color: white;
  border-radius: 15px;
  font-family: Arial, sans-serif;
  float: right;
}