@import "../variables";

#posts-table {
  width: 100%;
  float: left;
  font-family: Arial, sans-serif;
  text-align: left;
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 0.9rem;

  .header-row {
    border-bottom: 1px solid #323232;

    th {
      height: 50px;
      padding: 5px;
    }
  }

  .post-row {
    td {
      height: 50px;
      padding: 0 10px;
    }

    &:hover {
      background: #e9f2f5 !important;
    }

    &:nth-child(even) {
      background: #efefef;
    }

    .summary {
      max-width: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.edit-button {
  width: 60px;
  height: 25px;
  line-height: 25px;
  text-transform: lowercase;
}

#create-post-form {
  @include respond-to(mobile) {
    margin: 0;
    width: 100%;
  }

  @include respond-to(desktop) {
    margin: 0 75px 0 0;
    float: right;
    width: $create-post-form-width;
  }

  input[type=text] {
    float: left;
    width: calc(100% - #{$create-post-form-submit-button-width});
    height: 35px;
    border-radius: $form-input-border-radius 0 0 $form-input-border-radius;
    border-right: none;
  }

  #create-post-button {
    width: 110px;
    border-radius: 0 $form-input-border-radius $form-input-border-radius 0;
    float: right;
  }
}