html
    head
        if PAGE_TITLE
            title #{SITE_TITLE} - #{PAGE_TITLE}
        else
            title #{SITE_TITLE}
            
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css")
        link(rel="stylesheet" href="/site.css")

        // Fonts
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Scope+One")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arvo")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand")

        script(src="/fa.js")

        meta(name="viewport" content="width=device-width, initial-scale=1")
    body
        include ../header/header
        include ../social-bar/social-bar
        include ../nav/nav

        div(id="content-container")
            block content