extends ../base/base

block content

    form(id="login-form")
        input(id="email" placeholder="email address" type="text")
        input(id="password" placeholder="password" type="password")
        input(type="submit" value="Login")

    script.
        var form = document.getElementById('login-form');

        form.addEventListener('submit', function (event) {
            event.preventDefault();

            var email = form.elements["email"].value;
            var password = form.elements["password"].value;

            tryLogin(email, password, function (response) {
                console.log(response);
            });
        });

        function tryLogin(email, password, callback) {
            var request = new XMLHttpRequest();

            request.onload = callback(request);
            request.open('POST', './login', true);
            request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");

            request.send(JSON.stringify({
                email: email,
                password: password
            }));
        }