html
    head
        title #{SITE_TITLE}
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css")
        link(rel="stylesheet" href="/site.css")
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body
        // Header
        include ./partials/header

        block content