$mobile-width: 900px;
$max-width: 1200px;

$mobile-paragraph-font-size: 1.08em;
$desktop-paragraph-font-size: 1.3em;

$mobile-header-1-font-size: 2.2em;
$desktop-header-1-font-size: 2.3em;

$post-info-font-size: 0.9em;

$homepage-article-margin-desktop: 80px;
$homepage-article-margin-mobile: 40px;

$paragraph-spacing: 28px;
$paragraph-line-height: 1.5em;

$read-more-font-size: 1.1em;

$link-colour: #4d4daa;
$link-hover-colour: #6679ea;