extends ../base/base

block content

    form(id="edit-post-form")
        input(id="post-title" type="text")
        input(id="post-summary" type="text")
        input(id="post-body" type="text")
        input(type="submit" value="Create Post" id="create-post-button")