div(id="social-media-links")
    ul
        li
            a(class="facebook-link" href="#")
                i(class="fab fa-facebook-f")
        li
            a(class="twitter-link" href="#")
                i(class="fab fa-twitter")
        li
            a(class="github-link" href="#")
                i(class="fab fa-github-alt")
        li
            a(class="linkedin-link" href="#")
                i(class="fab fa-linkedin-in")
        li
            a(class="stackoverflow-link" href="#")
                i(class="fab fa-stack-overflow")