@import "../variables";

.read-more {
  font-size: $read-more-font-size;
  color: $standard-font-colour;

  &:hover {
    color: $standard-font-colour;
  }
}

a.header-link {
  color: $standard-font-colour;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}