@import "../media-utilities";

$desktop-header-top-margin: 50px;
$mobile-header-top-margin: 25px;

$headshot-size-desktop: 150px;
$headshot-size-mobile: 120px;

#header {
  @include respond-to(mobile) {
    margin-top: $mobile-header-top-margin;
  }

  @include respond-to(desktop) {
    margin-top: $desktop-header-top-margin;
  }
}

.head-shot {
  @include respond-to(mobile) {
    width: $headshot-size-mobile;
    height: $headshot-size-mobile;
    margin-top: $mobile-header-top-margin;
  }

  @include respond-to(desktop) {
    width: $headshot-size-desktop;
    height: $headshot-size-desktop;
    margin-top: $desktop-header-top-margin;
  }

  border-radius: 50%;
  margin: 0 auto;
  display: block;
}