extends ../base/base

block content
    article(class="homepage-article")
        h1 Lorem Ipsum
        p(class="post-info") Posted 27th October 1992
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum aliquam efficitur lorem, in scelerisque mi porta in. Suspendisse sem lorem, tincidunt nec urna ac, finibus lacinia lacus. Proin eget auctor magna. In eget cursus dolor, non elementum lacus.
        p Pellentesque interdum mauris a turpis porta, nec aliquet urna pretium. Nullam vitae velit bibendum, placerat massa et, ullamcorper nulla. Nam laoreet, erat et imperdiet tempus, nibh metus eleifend nisl, in blandit eros dui vel dui. Suspendisse quis nunc volutpat, lobortis tellus eu, vulputate felis. Pellentesque mollis mauris vitae massa iaculis posuere. Vivamus maximus dui ac diam feugiat dapibus. Nunc in consequat orci. Quisque vulputate vehicula sollicitudin. Nam eu fermentum sem, eget placerat est. Phasellus tempus varius eros, at ullamcorper nisi volutpat quis.


    article(class="homepage-article")
        h1 More Lorem Ipsum
        p(class="post-info")
        p Aenean vulputate hendrerit tortor, a laoreet ligula mattis eu. Praesent bibendum ante et enim accumsan fermentum. Sed posuere elit sit amet tempus facilisis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed fringilla tempor augue pellentesque suscipit. Maecenas auctor leo eget purus accumsan auctor. Etiam consequat risus sed dignissim luctus.

    article(class="homepage-article")
        h1 Even More Ipsum Than Lorem
        p(class="post-info")
        p Aliquam luctus accumsan malesuada. Quisque eu accumsan neque. Nunc eu vehicula lorem. Phasellus lorem quam, scelerisque a tellus eu, maximus egestas dui. Nam suscipit tortor a gravida bibendum. Nam nisl libero, egestas a fringilla ut, ullamcorper ac neque. Etiam semper efficitur nisi et imperdiet. Donec porttitor cursus tortor, non gravida lacus porta vel. In pellentesque est in tortor porta, molestie sodales massa pulvinar. Donec faucibus aliquam nulla eu tempus. Quisque sem purus, dignissim eget velit id, scelerisque mattis purus. Sed lacinia laoreet augue, sed consectetur mauris mollis eu. Donec augue ligula, interdum placerat vulputate quis, blandit eget lectus. Integer nulla tortor, condimentum vitae varius sed, volutpat non nisi.
