extends ../base/base

block content

    each val in latestPosts
        article
            h1 
                a(class="header-link" href="posts/" + val.seoTitle) #{val.title}
            p(class="post-info")= moment(val.publishedOn).format("MMMM D, YYYY")
            p #{val.summary}
            span
                a(class="read-more" href="posts/" + val.seoTitle) Read more.