extends ../base/base

block content

    each val in latestPosts
        article(class="homepage-article")
            h1 #{val.title}
            p(class="post-info")= moment(moment.publishedOn).format("MMMM D, YYYY")
            p #{val.summary}
            span
                a(href="#") Read more...